<button (click)="isShown = !isShown">Toggle Element</button>

<p *ngIf="isShown" @showState>You can see me now!</p>
<button (click)="width = width - 50">Shrink</button>
<button (click)="animate = !animate">Animate Me</button>
<p
  [ngStyle]="{ 'width.px': width }"
  [@animateState]="animate ? 'animated' : 'noAnimation'"
>
  Shrink Me
</p>

<hr />
<button (click)="OnAddElement()">Add Element</button>
<div
  class="test-result"
  *ngFor="let testResult of testResults"
  @listState
  (@listState.start)="onAnimationStarted($event)"
  (@listState.done)="onAnimationEnd($event)"
>
  {{ testResult }}
</div>
